{
  "presets": [
    "@babel/preset-env",
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    ["@babel/transform-runtime"],
    ["babel-plugin-remove-react-jsx-attribute", { "attributes": ["data-testid"] }]
  ]
}
