<configuration>

  <springProperty scope="context" name="LOGBACK_HOST" source="logback.destination.host"/>
  <springProperty scope="context" name="LOGBACK_PORT" source="logback.destination.port"/>

  <springProfile name="!prod">
    <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
      <encoder>
        <pattern>
          %green(%d{yyyy-MM-dd HH:mm:ss.SSS}) [%thread] %highlight([%level]) %logger - %cyan(%msg%n)
        </pattern>
      </encoder>
    </appender>

    <root level="info">
      <appender-ref ref="STDOUT"/>
    </root>
  </springProfile>

  <springProfile name="prod">
    <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
      <encoder>
        <pattern>
          %green(%d{yyyy-MM-dd HH:mm:ss.SSS}) [%thread] %highlight([%level]) %logger - %cyan(%msg%n)
        </pattern>
      </encoder>
    </appender>

    <root level="warn">
      <appender-ref ref="STDOUT"/>
    </root>
  </springProfile>

  <springProfile name="prod, develop">
    <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="File">
      <encoder>
        <charset>UTF-8</charset>
        <pattern>
          %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%level] %logger - %msg%n
        </pattern>
      </encoder>
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>/var/log/application-logs/%d{yyyyMM, aux}/%d{yyyy-MM-dd, Asia/Seoul}.log</fileNamePattern>
        <maxHistory>6</maxHistory>
        <totalSizeCap>5GB</totalSizeCap>
      </rollingPolicy>
    </appender>

    <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="ErrorFile">
      <encoder>
        <charset>UTF-8</charset>
        <pattern>
          %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%level] %logger - %msg%n
        </pattern>
      </encoder>
      <filter class="ch.qos.logback.classic.filter.LevelFilter">
        <level>ERROR</level>
        <onMatch>ACCEPT</onMatch>
        <onMismatch>DENY</onMismatch>
      </filter>
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>/var/log/application-logs/%d{yyyyMM, aux}/%d{yyyy-MM-dd, Asia/Seoul}.error.log</fileNamePattern>
        <maxHistory>6</maxHistory>
        <totalSizeCap>5GB</totalSizeCap>
      </rollingPolicy>
    </appender>

    <appender class="net.logstash.logback.appender.LogstashTcpSocketAppender" name="stash">
      <destination>${LOGBACK_HOST}:${LOGBACK_PORT}</destination>

      <!-- encoder is required -->
      <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <root level="warn">
      <appender-ref ref="File"/>
      <appender-ref ref="ErrorFile"/>
      <appender-ref ref="stash"/>
    </root>
  </springProfile>
</configuration>
