<configuration>
  <springProfile name="!prod">
    <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
      <encoder>
        <pattern>
          %green(%d{yyyy-MM-dd HH:mm:ss.SSS}) [%thread] %highlight([%level]) %logger - %cyan(%msg%n)
        </pattern>
      </encoder>
    </appender>

    <root level="info">
      <appender-ref ref="STDOUT"/>
    </root>
  </springProfile>

  <springProfile name="develop">
    <springProperty name="SLACK_WEBHOOK_URI" source="logging.slack.webhook-uri"/>
    <appender class="com.github.maricn.logback.SlackAppender" name="SLACK">
      <colorCoding>true</colorCoding>
      <iconEmoji>:stuck_out_tongue_winking_eye:</iconEmoji>
      <layout class="ch.qos.logback.classic.PatternLayout">
        <pattern>%msg %n</pattern>
      </layout>
      <username>Cake-Server-log</username>
      <webhookUri>${SLACK_WEBHOOK_URI}</webhookUri>
    </appender>
    <appender class="ch.qos.logback.classic.AsyncAppender" name="ASYNC_SLACK">
      <appender-ref ref="SLACK"/>
      <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
        <level>ERROR</level>
      </filter>
    </appender>

    <root level="info">
      <appender-ref ref="ASYNC_SLACK"/>
    </root>
  </springProfile>

  <springProfile name="prod, develop">
    <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="File">
      <encoder>
        <charset>UTF-8</charset>
        <pattern>
          %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%level] %logger - %msg%n
        </pattern>
      </encoder>
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>/var/log/application-logs/%d{yyyyMM, aux}/%d{yyyy-MM-dd, Asia/Seoul}.log</fileNamePattern>
        <maxHistory>6</maxHistory>
        <totalSizeCap>5GB</totalSizeCap>
      </rollingPolicy>
    </appender>

    <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="ErrorFile">
      <encoder>
        <charset>UTF-8</charset>
        <pattern>
          %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%level] %logger - %msg%n
        </pattern>
      </encoder>
      <filter class="ch.qos.logback.classic.filter.LevelFilter">
        <level>ERROR</level>
        <onMatch>ACCEPT</onMatch>
        <onMismatch>DENY</onMismatch>
      </filter>
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>/var/log/application-logs/%d{yyyyMM, aux}/%d{yyyy-MM-dd, Asia/Seoul}.error.log</fileNamePattern>
        <maxHistory>6</maxHistory>
        <totalSizeCap>5GB</totalSizeCap>
      </rollingPolicy>
    </appender>


<!--    <appender class="net.logstash.logback.appender.LogstashTcpSocketAppender" name="stash">-->
<!--      <destination>192.168.1.97:8000</destination>-->

<!--      &lt;!&ndash; encoder is required &ndash;&gt;-->
<!--      <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>-->
<!--    </appender>-->

<!--    <appender class="com.github.maricn.logback.SlackAppender" name="SLACK">-->
<!--      <colorCoding>true</colorCoding>-->
<!--      <iconEmoji>:stuck_out_tongue_winking_eye:</iconEmoji>-->
<!--      <layout class="ch.qos.logback.classic.PatternLayout">-->
<!--        <pattern>%msg %n</pattern>-->
<!--      </layout>-->
<!--      <username>Cake-Server-log</username>-->
<!--      <webhookUri>${SLACK_WEBHOOK_URI}</webhookUri>-->
<!--    </appender>-->
<!--    <appender class="ch.qos.logback.classic.AsyncAppender" name="ASYNC_SLACK">-->
<!--      <appender-ref ref="SLACK"/>-->
<!--      <filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
<!--        <level>ERROR</level>-->
<!--      </filter>-->
<!--    </appender>-->

    <root level="info">
      <appender-ref ref="File"/>
      <appender-ref ref="ErrorFile"/>
<!--      <appender-ref ref="stash"/>-->
<!--      <appender-ref ref="ASYNC_SLACK"/>-->
    </root>

    <springProperty name="SLACK_WEBHOOK_URI" source="logging.slack.webhook-uri"/>
  </springProfile>
</configuration>